################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GarageCore/.vs/GarageCore/v16/Server/sqlite3
